<IfModule mod_rewrite.c>
    RewriteEngine On

    # Serve everything through index.php (Lumen's entry point)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
